<!-- cNgClass and NgStyle \-->
<h1>cNgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr class="line-error"
[ngClass]="{
'valid': nameInput4.valid,
'invalid': nameInput4.invalid
}"/>
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>

<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.heigth" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'heigth.px': box.heigth,
      'background-color': box.background,
      'display': 'block'
    }"></div>
  </div>
</div>

<hr/>

<!-- class and style\-->
<h1>Class & styles</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>

<label for="">Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic':'normal'">texto texto</p>

<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [src]="person.avatar" [style.width.px]="widthImg">
  </div>
</div>

<hr>
<!-- [ngSwitch]\-->
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'constanza'">My name is Constanza</p>
  <p *ngSwitchCase="'maria'">My name is Maria</p>
  <p *ngSwitchCase="'nicolas'">My name is Nicolas</p>
  <p *ngSwitchDefault>No hace match</p>
</div>
<!--
<p *ngIf="person.name=='constanza'">My name is Constanza</p>
<p *ngIf="person.name=='maria'">My name is Maria</p>
<p *ngIf="person.name=='nicolas'">My name is Nicolas</p>
\-->


<hr>

<!-- ngFor para OBJETOS \-->
<h1>*nfFor Objects</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>

  </div>
</div>
<hr>

<!-- ngFor Sirve para iterar un array \-->
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />

<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0"> NO hay nombres</li> <!-- name: variable temporal (i), names: array a iterar \-->
  <li *ngFor="let name of names; index as i">
  {{i}} {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr>

<!-- ngIf \-->
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />

<p *ngIf="person.name==='constanza'">My name is Constanza</p>
<p *ngIf="person.name==='nicolas'&& person.age == 18; else elseBlock">My name is Nicolas</p>

<ng-template #elseBlock>
  <p>No se cumplieron los requisitos</p>
</ng-template>

<hr>

<!-- NGMODEL \-->
<h1>Ng Model</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>

<p>Edad {{ person.age }}</p>
<input type="number" max="50" min="18" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ ageInput.valid }}</p>

<hr>

<!-- EVENT BINDING - Click \-->

<h1>Eventos</h1>
<button [disabled]="buttonDisable">Enviar</button>
<button (click)="toggleButton()">Toggle button</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Age ++</button>

<!-- EVENT BINDING - Scroll \-->
<div class="box" (scroll)="onScroll($event)">
  <!-- Forma para caputar eventos: $event \-->

  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit turpis, justo senectus
    bibendum nisl dictum pretium aenean ullamcorper sodales, urna metus ridiculus
    risus magna congue porta. Pellentesque sociis aptent platea semper fringilla
    nulla vulputate ligula diam cubilia, sociosqu faucibus sodales non etiam
    condimentum sollicitudin congue metus magnis, venenatis vivamus cum ac felis
    penatibus at habitant vestibulum. </p>
</div>

<!-- EVENT BINDING - Inmput \-->
<p>Nombre {{person.name}}</p>
<input types="text" [value]="person.name" (keyup)="changeName($event)" />

<hr>


<!-- PROPERTY BINDING: [value]
son específicos para propiedades de elemntos HTML, para configuración de propiedades\-->

<h1>Propiedades</h1>
<button [disabled]="buttonDisable">Enviar</button>
<input types="text" [value]="name" />
<progress max="100" [value]="age"></progress>
<img [src]="img" width="100px">

<input types="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" width="100px">

<!-- STRING INTERPOLATION: {{}}
sirve para ingresar contenido donde necesitamos renderizarlo (ingresar el contenido en un h1, p)\-->
<hr>
<h1>Hola mundo</h1>
<h2>{{"Hola mundo".repeat(3)}}</h2>
<p>3+3 = {{3+3}}</p>
<h3>Hola, soy {{name}} y tengo {{age}}</h3>
<img src= {{img}} width="100px">
